<div class="nested-fields">
   <%= f.label :description %> </br> 
   <%= f.text_field :description %>
   <%= f.check_box :correct %> Correta?
   <%= f.label :done %>


   <%= link_to_remove_association('Remover questão?', f) %>
</div>

