<div class="row">
    <div class="col-lg-12">
         <h1 class="page-header"<h1><%= action_message %></h1>
    </div>
    <!-- /.col-lg-12 -->
   
</div>
    <% if @subject.errors.any? %> 
        <div class="alert alert-danger">
          <a href="#" class="alert-link"></a>.
        
            <ul>
              <% @subject.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
              <% end %>
            </ul>
        
        </div>
    <% end %>
  <%= form_with(model: [ :admins_backoffice, @subject ], local: true) do |form| %>

    <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class:"form-control", placeholder:"Descrição do Assunto/Área"  %>
        <%= form.text_field :description, 
                class:"form-control", 
                placeholder: t('placeholder.subject_description')  %>
    </div>
     
       <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"></h1>
      </div>
      <!-- /.col-lg-12 -->
    <div>
    </div> 
     <button type="submit" class="btn btn-default",
             buttons: t('save')
        <%= t('button.save') %>

      </button>
  <% end %>
</div>